
<div class="container">
  <div class="ui-g-12 ui-md-9 ui-fluid">
    <label>DoeFácil</label>
    <input pInputText type="text" name="Nome completo *">
    <input pInputText type="text" name="Email *">
    <input pInputText type="text" name="Nome de usuário *">
    <input pInputText type="text" name="Senha *">
    <input pInputText type="text" name="Confirmar senha *">
    <input pInputText type="text" name="Data nascimento *">
    <input pInputText type="text" name="CPF *">
    <input pInputText type="text" name="Cidade *">
    <input pInputText type="text" name="Estado *">
    <input pInputText type="text" name="Bairro">
    <input pInputText type="text" name="Rua">
    <input pInputText type="text" name="Número">
    <input pInputText type="text" name="Complemento">
  </div>
</div>
