<a href="http://localhost:4200" style="color: #000">DOE FÁCIL</a>


  <p-sidebar [(visible)]="sideBar">

    <div class=" ui-g-12 ui-fluid">
      <h1 class="boxButton">Menu</h1>

      <button pButton type="button" (click) ="sideBar = false" label = "Doe Fácil (inicial)"
      routerLink="/doacoes" class="boxButton"></button>

      <button pButton type="button" (click) ="sideBar = false" label = "Cadastrar Usuário"
      routerLink="/usuario/novo" class="boxButton"></button>

      <button pButton type="button" (click) ="sideBar = false" label = "Meu Perfil"
      routerLink="/usuario/meuperfil" class="boxButton"></button>

      <button pButton type="button" (click) ="sideBar = false" label = "Cadastrar Doação"
      routerLink="/doacao/nova" class="boxButton"></button>

      <button pButton type="button" (click) ="sideBar = false" label = "Detalhes Doação"
      routerLink="/doacao/detalhe" class="boxButton"></button>


    </div>

  </p-sidebar>

    <button pButton type="button" (click)="sideBar = true" icon="pi pi-th-large"></button>

  <router-outlet></router-outlet>
