

<p-dataView #dv [value]="doacoes" [paginator]="true" [rows]="20" paginatorPosition="bottom" filterBy="nome"
    [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
    <p-header>

            <div class="ui-g" style="text-align:center">
                <div class="ui-g-12 ui-md-6  ui-lg-3">
                  <p-dropdown [options]="categorias" [(ngModel)]="sortKey" placeholder="Ordenar Por" (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
                </div>
                <div class="ui-g-12 ui-md-6  ui-lg-3">
                  <input type="search" pInputText placeholder="Pesquisar por Nome" (keyup)="dv.filter($event.target.value, 'contains')">
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                    <button pButton type="buttonq" icon="pi pi-user-plus" label="Cadastre-se" routerLink="/usuario/novo"></button>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                    <button pButton type="button" icon="pi pi-user" (click)="showDialog()" label="Login"></button>
                </div>
              </div>


    </p-header>

    <ng-template let-doacao pTemplate="gridItem">
        <div  class="ui-g-12 ui-md-3">
            <p-panel [header]="doacao.nome" [style]="{'text-align':'center'}">
                <img src="{{doacao.img}}.jpg" width="100">
                <div class="doacao-detail"> <span class="pi pi-thumbs-up"></span>Votos Positivos = {{doacao.votosPositivos}} </div>
                <div class="doacao-detail"><span class="pi pi-thumbs-down"></span>Votos Negativos = {{doacao.votosNegativos}}</div>
                <div class="doacao-detail"> {{doacao.categoria}}</div>
                <div class="doacao-detail"> {{doacao.doador.cidade}} - {{doacao.doador.estado}}</div>
                <div class="ui-fluid"> <button pButton type="button" icon="pi pi-search" [routerLink]="['/doacoes/',doacao.id]" ></button></div>
                <hr class="ui-widget-content" style="border-top:0">

            </p-panel>
        </div>
    </ng-template>
</p-dataView>

<p-dialog header="Realizar Login" [(visible)]="displayDialog" [responsive]="true" showEffect="fade"
[modal]="true" [resizable]="false" [style]="{width: '350px', height: '200px','text-align':'center'}">


      <div class="ui-g-12  ui-fluid" style="text-align:center">Nome de Usuário:
       <input id="nomeUsuario" type="text" />
      </div >
      <div class="ui-g-12  ui-fluid" style="text-align:center">Senha:
       <input id="senhaUsuario" type="password" />
      </div>
      <div class="  ui-fluid">
        <button pButton type="button" icon="pi pi-sign-in" (click)="login()"></button>
      </div>

</p-dialog>



