<body>
  <link rel="stylesheet" type="text/css" href="../assets/css/main.css" media="screen" />
  <!-- Toolbar -->
  <span class="p-grid" style="background-image: linear-gradient(to right, rgb(80, 74, 186), rgb(137,138,255) 13%, black);
                              padding-top: 5px; height: 55px;">
    <div class="p-col-fixed" style="width: 250px; padding: 10px 0px 10px 40px;">
      <a class="toolbarbutton" style="font-size: 20px; color: black; font-weight: bold; font-family: permanentMarker;"
        routerLink="/doacoes">DoeFácil</a>
    </div>
    <div class="p-col" style="width: 100%;">
        <p-dropdown [options]="categorias"  editable="true"
        [style]="{'min-width':'200px'}"
       type="search" placeholder="Nome ou Categoria" style="height: 35px; width: 500px;"
        (keyup)="dv.filter($event.target.value, 'contains')"  (onChange)= "dv.filter($event.value, 'contains')"> </p-dropdown>
    </div>
    <div class="p-col" style="width: 15%;">
      <p-dropdown [options]="ordem" [(ngModel)]="sortKey" placeholder="Ordenar Por" (onChange)="onSortChange($event)"
        [style]="{'min-width':'200px'}"></p-dropdown>
    </div>
    <div class="p-col" *ngIf="logado==null">
      <button pButton type="button" class="toolbarbutton" style="text-decoration-line: underline;" icon="pi pi-user-plus" label="Cadastre-se" routerLink="/usuario/novo"></button>
      <button pButton type="button" class="toolbarbutton" icon="pi pi-user" (click)="showDialog()" label="Login"></button>
    </div>
    <span class="p-col" *ngIf="logado!=null">
      <a [routerLink]="['/usuario/meuperfil']" class="linklabel">{{logado.nomeUsuario}}</a>
      <img src="../../../assets/image/{{logado.imgUsuario}}.jpg" alt="img" style="margin-top: 6px; width: 22px; height: 22px; border-radius: 50%;">
      <button pButton type="buttonq" class="toolbarbutton" icon="pi pi-plus" label="Doar" style="margin: 0px 10px 20px;" routerLink="/doacao/nova"></button>
      <p-menu #menu [popup]="true" [model]="items"></p-menu>
      <button pButton type="button" class="toolbarbutton" icon="pi pi-bars" (click)="menu.toggle($event)"></button>
    </span>
  </span>

  <!-- Doações grid -->
  <p-dataView #dv [value]="doacoes" [paginator]="true" [rows]="20" paginatorPosition="bottom" filterBy="nome,categoria"
    [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
    <ng-template let-doacao pTemplate="gridItem">

        <!--Se não estiver logado não tem link-->
        <span style="margin: 10px 10px 10px 10px !important; text-align: center; width: 210px; max-height: 260px;" *ngIf="logado==null">
          <p-panel [header]="doacao.nome" [style]="{'text-align':'center'}">
            <img src="../../../assets/image/doacoes/{{doacao.img}}.jpg" alt="image" style="width: 150px; height: 100px;">
            <div class="doacao-detail"> {{doacao.categoria}}</div>
            <div class="doacao-detail"> {{doacao.doador.estado}}</div>
            <div class="doacao-detail"> {{doacao.doador.cidade}}</div>
          </p-panel>
        </span>

        <!--Se estiver logado tem link-->
        <a [routerLink]="['/doacoes/',doacao.id]" style="margin: 10px 10px 10px 10px; text-align: center; width: 210px; max-height: 260px;" *ngIf="logado!=null">
          <p-panel [header]="doacao.nome" [style]="{'text-align':'center'}">
            <img src="../../../assets/image/doacoes/{{doacao.img}}.jpg" alt="image" style="max-width: 150px; max-height: 100px;">
            <div class="doacao-detail"> {{doacao.categoria}}</div>
            <div class="doacao-detail"> {{doacao.doador.estado}}</div>
            <div class="doacao-detail"> {{doacao.doador.cidade}}</div>
          </p-panel>
        </a>

      </ng-template>
  </p-dataView>

  <!-- Login panel -->
  <p-dialog header="Login" style="color: rgb(200, 200, 200);" [(visible)]="displayDialog" [responsive]="true" showEffect="fade"
  [modal]="true" [resizable]="false" [style]="{width: '350px', height: '200px','text-align':'center'}">
    <div>
      <input pInputText id="nomeUsuario" type="text" class="text-input text-input--underbar" placeholder="Nome de usuário" style="max-width: 250px; margin: 10px 0px 10px 0px" [(ngModel)]="nomeUsuario"/>
    </div>
    <div>
      <input pInputText id="senhaUsuario" type="password" class="text-input text-input--underbar" placeholder="Senha" style="max-width: 250px; margin: 10px 0px 10px 0px" [(ngModel)]="senha"/>
    </div>
    <div>
      <button pButton  icon="pi pi-sign-in" label="Login" style="max-width: 100px; margin: 10px 0px 10px 0px" (click)="login()"></button>
    </div>

  </p-dialog>

  <!-- Notificações panel -->
  <p-dialog header="Notificações " [(visible)]="mostrarNotificacoes" [modal]="false" [responsive]="true" [style]="{width: '800px','text-align':'center'}"
  [maximizable]="true" [baseZIndex]="10000" >

  <p-confirmDialog header="Confirmação" icon="pi pi-question-circle" acceptLabel="Sim" rejectLabel="Não"></p-confirmDialog>

  <p-table [value]="notificacoes" [paginator]="true" [rows]="4" [responsive]="true">
    <ng-template pTemplate="header" >
        <tr>
          <th style="width:80px">ID </th>
          <th style="width:160px">Notificador</th>
          <th>Conteúdo</th>
          <th style="width:80px">Excluir</th>
        </tr>
     </ng-template>

     <ng-template pTemplate="body" let-noti>
        <tr>
          <td>{{noti.id}}</td>
          <td><a [routerLink]="['/usuario/',noti.notificador.idUsuario]">{{noti.notificador.nomeCompleto}}</a></td>
          <td>{{noti.conteudo}}</td>
          <td> <button pButton icon="pi pi-trash"  pTooltip="Excluir" tooltipPosition="top" showDelay="1000" class="ui-button-danger" (click)="confirmarExclusao(noti)"></button></td>


        </tr>
      </ng-template>

  </p-table>

  </p-dialog>



</body>

