

<p-dataView #dv [value]="doacoes" [paginator]="true" [rows]="20" paginatorPosition="bottom" filterBy="nome"
    [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
    <p-header>

            <div class="ui-g" style="text-align:center">
                <div class="ui-g-12 ui-md-6  ui-lg-3">
                  <p-dropdown [options]="ordem" [(ngModel)]="sortKey" placeholder="Ordenar Por" (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
                </div>
                <div class="ui-g-12 ui-md-6  ui-lg-3">
                  <input type="search" pInputText placeholder="Pesquisar por Nome" (keyup)="dv.filter($event.target.value, 'contains')">
                </div>

                <div class="ui-g-12 ui-md-6 ui-lg-3" *ngIf="logado==null">
                    <button pButton type="buttonq" icon="pi pi-user-plus" label="Cadastre-se" routerLink="/usuario/novo"></button>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-3" *ngIf="logado==null">
                    <button pButton type="button" icon="pi pi-user" (click)="showDialog()" label="Login"></button>
                </div>

                <div class="ui-g-12 ui-md-6 ui-lg-3" *ngIf="logado!=null">
                  <button pButton type="buttonq" icon="pi pi-plus" label="Doar" routerLink="/doacao/nova"></button>
              </div>
              <div class="ui-g-12 ui-md-6 ui-lg-3" *ngIf="logado!=null">
                <p-menu #menu [popup]="true" [model]="items"></p-menu>
                <button type="button" pButton icon="pi pi-bars" label="{{logado.nomeUsuario}}" (click)="menu.toggle($event)"></button>
              </div>


              </div>


    </p-header>

    <ng-template let-doacao pTemplate="gridItem">
        <div  class="ui-g-12 ui-md-3">
            <p-panel [header]="doacao.nome" [style]="{'text-align':'center'}">
                <img src="" width="100">
                <div class="doacao-detail"> {{doacao.categoria}}</div>
                <div class="doacao-detail"> {{doacao.doador.estado}} - {{doacao.doador.cidade}}</div>
                <div class="ui-fluid" *ngIf="logado!=null"> <button pButton type="button" icon="pi pi-search" [routerLink]="['/doacoes/',doacao.id]" ></button>
                </div>
                <hr class="ui-widget-content" style="border-top:0">

            </p-panel>
        </div>
    </ng-template>
</p-dataView>

<p-dialog header="Realizar Login" [(visible)]="displayDialog" [responsive]="true" showEffect="fade"
[modal]="true" [resizable]="false" [style]="{width: '350px', height: '200px','text-align':'center'}">


       <label>Nome de Usuário</label>
       <input id="nomeUsuario" type="text" class="ui-g-12  ui-fluid"/>

      <div class="ui-g-12  ui-fluid"> <label>Senha</label>
       <input id="senhaUsuario" type="password" class="ui-g-12  ui-fluid" [(ngModel)]="senha" />
      </div>
      <div class="  ui-fluid">
        <button pButton  icon="pi pi-sign-in" (click)="login()"></button>
      </div>

</p-dialog>

<p-dialog header="Notificações " [(visible)]="mostrarNotificacoes" [modal]="false" [responsive]="true" [style]="{width: '800px','text-align':'center'}"
[maximizable]="true" [baseZIndex]="10000" >

<p-confirmDialog header="Confirmação" icon="pi pi-question-circle" acceptLabel="Sim" rejectLabel="Não"></p-confirmDialog>

<p-table [value]="notificacoes" [paginator]="true" [rows]="4" [responsive]="true">
  <ng-template pTemplate="header" >
      <tr>
        <th>ID</th>
        <th>Conteúdo</th>
        <th>Notificador</th>
        <th>Excluir</th>
      </tr>
   </ng-template>

   <ng-template pTemplate="body" let-noti>
      <tr>
        <td>{{noti.id}}</td>
        <td>{{noti.conteudo}}</td>
        <td> <button pButton icon="pi pi-user" [routerLink]="['/usuario/',noti.notificador.idUsuario]" ></button> {{noti.notificador.nomeCompleto}}</td>
        <td> <button pButton icon="pi pi-trash"  pTooltip="Excluir" tooltipPosition="top" showDelay="1000" class="ui-button-danger" (click)="confirmarExclusao(noti)"></button></td>
      </tr>
    </ng-template>

</p-table>

</p-dialog>



