.ui-button.toolbarbutton{
    size:20px;
    background-image: none;
    background-color: transparent !important; 
    background-repeat: no-repeat; 
    border: none !important; 
    overflow: hidden !important; 
    outline: 0 !important; 
    font-size: 15px; 
    font-weight: bold;
  }

.labeltoolbar{
  display: inline-block;
  padding-top: 5px;
  font-family: Impact;
  font-weight: bold;
  font-size: 20px;
  width: 250px;
  color: rgb(240, 240, 240);
  text-decoration: underline;
}

body{
  overflow-y: scroll;
    background-color: rgb(40, 40, 40);
  height: 100%;
}

div.column.avallist{
    float: right; 
    margin-right: 15px; 
    width: 40%; 
    text-align: center;
}

div.row.rowProfile{
    display: table;
    width: 100%;
    float: left;
    background-color: rgb(40, 40, 40);
}

div.column.columnProfile{
    float: left; 
    width: 40%;
}

.avals{
    width: 100%;
    color: rgb(240, 240, 240);
    font-size: 10px; 
}

div.ui-col-1.ui-fluid.layout{
    width: 50%;
    margin-left: 20px;
    margin-top: 15px;
}

label{
    color: rgb(240, 240, 240);
    font-size: 17px;
    font-weight: bold;
}