<body>
      <!-- Toolbar -->
      <div class="p-grid" style="height: 53px !important; background-image: linear-gradient(to right, rgb(80, 74, 186), rgb(137,138,255) 13%, black);
                  padding: 5px 0px 0px 15px; height: 55px;">
         <div class="p-col-fixed" style="width: 250px; padding: 10px 0px 10px 40px;">
            <a class="toolbarbutton" style="font-size: 20px; color: black; font-weight: bold; font-family: permanentMarker;"
                     routerLink="/doacoes">DoeFácil</a>
         </div>
         <div class="p-col"></div>
         <div class="p-col-fixed" style="width: 300px;">
            <label class="labeltoolbar">Meu perfil</label>
         </div>
      </div>

      <!--Tabela informação-->
      <div class="row rowProfile">
         <div class="column columnProfile" style="width: 38%; margin: 15px 0px 20px 20px; background-color: rgb(60, 60, 60); border: 1px solid black;">
            <div class="row">
               <div class="col-1">
                  <div class="row" style="display: table; width: 50%; float: right;">
                     <div class="column avallist">
                        <p>
                           <button pButton  label="{{eu.votosPositivosUsuario}}"
                              class="ui-button-rounded ui-button-success" icon="pi pi-thumbs-up" style="text-align: center; width: 50%;" ></button>
                        </p>
                        <p>
                           <button pButton  label="{{eu.votosNegativosUsuario}}"
                              class="ui-button-rounded ui-button-danger" icon="pi pi-thumbs-down" style="text-align: center; width: 50%;" ></button>
                        </p>
                     </div>
                  </div>

                  <div style="margin-bottom: 30px;">
                     <div class="ui-col-1 ui-fluid layout">
                        <label>Nome Completo: {{eu.nomeCompleto}}</label>
                     </div>

                     <div class="ui-col-1 ui-fluid layout">
                        <label>Nome de Usuário: {{eu.nomeUsuario}}</label>
                     </div>

                     <div class="ui-col-1 ui-fluid layout">
                        <label>E-mail: {{eu.email}}</label>
                     </div>
                  </div>

                  <div style="margin-bottom: 30px;">
                     <div class="ui-col-1 ui-fluid layout">
                        <label>Data Nascimento: {{eu.dataNasc}}</label>
                     </div>

                     <div class="ui-col-1 ui-fluid layout">
                        <label>CPF: {{eu.cpf}}</label>
                     </div>
                  </div>

                  <div style="margin-bottom: 30px;">
                     <div class="ui-col-1 ui-fluid layout">
                        <label>Estado: {{eu.estado}}</label>
                     </div>

                     <div class="ui-col-1 ui-fluid layout">
                        <label>Cidade: {{eu.cidade}}</label>
                     </div>

                     <div class="ui-col-1 ui-fluid layout">
                        <label>Bairro: {{eu.bairro}}</label>
                     </div>

                     <div class="ui-col-1 ui-fluid layout">
                        <label>Rua: {{eu.rua}}</label>
                     </div>

                     <div class="ui-col-1 ui-fluid layout">
                        <label>Número: {{eu.numero}}</label>
                     </div>

                     <div class="ui-col-1 ui-fluid layout" style="margin-bottom: 60px;" *ngIf=eu.complemento>
                        <label>Complemento: {{eu.complemento}}</label>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row" style="width: 100%; display: table; text-align: center; margin-bottom: 40px;">
               <div class="column" style="width: 50%; float: left;">
                  <button pButton type="submit" label="Editar Perfil"
                     icon="pi pi-user-edit" routerLink="editar" class=" boxButton"></button>
               </div>
               <div class="column" style="width: 50%; float: left;">
                  <button pButton (click)="logoff()" onclick="routerLink='/doacoes'" label="Sair"
                     icon="pi pi-sign-out" class="ui-button-danger"></button>
               </div>
            </div>
         </div>

         <div class="ui-g-6 ui-fluid" style="display: table; float: left; height: 100%; width: 60%; text-align: center;">
               <!-- Imagem do usuário -->
            <div class="ui-g-6 ui-fluid" style="width: 90%; height: 40%; text-align: center; margin: 30px;">
               <img src="../../../assets/image/{{eu.imgUsuario}}.jpg" alt="img" style="min-width: 75px; min-height: 75px; max-width: 600px; max-height: 400px; border-radius: 50%;">
            </div>

            <div class="row rowProfile">
                  <!--Lista Doações feitas-->
               <div class="ui-g-6 ui-fluid" style="float: left; width: 40%; text-align:center; margin: 0px 20px 20px 40px;">
                  <h2>
                     <span>
                     <button pButton  label="{{doaFeitas}}"
                        class="ui-button-rounded"  style="width: 45px; font-weight: bold; border: none; color: black; background-color: rgb(180, 180, 180);" ></button>
                        <label class="labeltoolbar"> Doações cadastradas </label>
                     </span>

                     </h2>
                  <p-table [value]="eu.feitas" [paginator]="true" [rows]="4" [responsive]="true" [autoLayout]="true">
                     <ng-template pTemplate="header" >
                        <tr>
                           <th>Nome</th>
                           <th style="width:100px" >Status</th>
                        </tr>
                     </ng-template>

                     <ng-template pTemplate="body" let-feita>
                        <tr>
                           <td><a [routerLink]="['/doacoes',feita.id]">{{feita.nome}}</a></td>
                           <td>{{feita.status}}</td>
                        </tr>
                     </ng-template>
                  </p-table>
               </div>

               <!-- Doações recebidas -->
               <div class="ui-g-6 ui-fluid" style="float: left; width: 40%; margin: 0px 20px 20px 40px; text-align:center">
                     <h2>
                           <span>
                           <button pButton  label="{{doaRecebidas}}"
                              class="ui-button-rounded" style="width: 45px; font-weight: bold; border: none; color: black; background-color: rgb(180, 180, 180);" ></button>
                              <label class="labeltoolbar"> Doações recebidas </label>
                           </span>

                           </h2>
                  <p-table [value]="eu.recebidas" [paginator]="true" [rows]="4" [responsive]="true">
                     <ng-template pTemplate="header" >
                        <tr>
                           <th>Nome</th>
                           <th style="width: 80px;">Doador</th>
                        </tr>
                     </ng-template>

                     <ng-template pTemplate="body" let-recebida>
                        <tr>
                           <td><a [routerLink]="['/doacoes',recebida.id]">{{recebida.nome}}</a></td>
                           <td><a [routerLink]="['/usuario/',recebida.doador.idUsuario]">{{recebida.doador.nomeUsuario}}</a></td>
                        </tr>
                     </ng-template>
                  </p-table>
               </div>
            </div>
         </div>
      </div>
   </body>
